# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
*.lock

# VSCode
.vscode/

# iOS & macOS
ios/Pods/
macos/Pods/
*.xcworkspace
*.xcuserstate
*.xcodeproj
*.xcuserdata

# Android
*.apk
*.keystore
android/.gradle
android/.idea
android/local.properties

# Logs
*.log

# Others
*.DS_Store
